{% load static %}
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>

<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header">
            <!-- Top Header -->
            <div class="header-top bg-danger text-white d-none d-sm-block">
                <div class="container_fluid">
                    <div class="col-xl-12">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="header-info-left">
                                <ul class="d-flex gap-3 m-0">     
                                    <li><i class="fa fa-phone"></i> {{ first_page.mobilenumber }}</li>
                                    <li><i class="fa fa-envelope"></i> {{ first_page.email }}</li>
                                </ul>
                            </div>
                            <div class="header-info-right ms-auto">
                                <ul class="navbar-nav m-0 bg-danger">
                                    {% if request.user.is_authenticated %}
                                    <li class="nav-item">
                                        <a class="text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-user-circle me-2"></i> Welcome, {{ user.username }}
                                        </a>
                                        <ul class="dropdown-menu bg-danger">
                                            <li><a class="dropdown-item text-white" href="{% url 'logout' %}">LogOut</a></li>
                                        </ul>
                                        
                                    </li>
                                    {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="{% url 'LoginPage' %}">
                                            <i class="fas fa-sign-in-alt me-2"></i>SIGN IN
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                                                       
                        </div>
                    </div>
                </div>
            </div>

            <!-- Middle Header -->
            <div class="header-mid bg-info">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-3 col-lg-3 col-md-3 d-none d-md-block">
                            <div class="logo">
                                <a href="#"><h3 class="text-white">Online News Portal</h3></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <!-- Navigation Bar -->
            <div class="header-bottom header-sticky bg-dark">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-8 col-lg-8 col-md-12 header-flex">
                            <!-- Sticky Logo -->
                            <div class="sticky-logo">
                                <a href="index.html"><img src="{% static 'assets1/img/logo/logo.png' %}" alt="Logo"></a>
                            </div>
                            <!-- Main Menu -->
                            <div class="main-menu d-none d-md-block">
                                <nav>                  
                                    <ul id="navigation" class="d-flex gap-3">
                                        <li><a href="{% url 'index' %}" class="text-white">Home</a></li>
                                        <li><a href="{% url 'about' %}" class="text-white">About</a></li>
                                        <li>
                                            <a href="#" class="text-white">Category</a>
                                            <ul class="submenu bg-secondary">
                                                {% for cat in cat %}
                                                    <li><a href="{% url 'category_detail' id=cat.id %}" class="text-white">{{ cat.catname }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'contact' %}" class="text-white">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>             
                        <!-- Search & Social -->
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <div class="header-right f-right d-none d-lg-flex align-items-center gap-3">
                                <!-- Search Icon -->
                                <div class="nav-search search-switch">
                                    <a href="#" class="text-white"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-md-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!-- Header End -->
</header>
