{% extends 'base1.html' %}
{% load socialaccount %}
{% load static %}

{% block content %}


<div class="login-container" role="main" aria-label="Login form">
  <h3 class="text-center mb-4">Login to Your Account</h3>

  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if 'error' in message.tags %}alert-danger{% else %}alert-success{% endif %}" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  <!-- Google Login -->
<a href="{% provider_login_url 'google' %}" class="btn-google mb-3" aria-label="Login with Google">
  <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg"
    class="google-icon" alt="Google Logo">
  Login with Google
</a>


  <form method="post" action="" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary w-100 mb-3">Login</button>

    <!--<div class="text-center text-link mb-2">
      <a href="">Forgot Password?</a>
    </div>--->

    <div class="text-center text-link">
      Don't have an account? <a href="{% url 'register' %}">Sign Up</a>
    </div>
  </form>
</div>
{% endblock %}
